
body {
  /* background-image: url('1.gif');*/
    background: var(--tg-theme-bg-color);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;
    height:100%;
    width:100%;
    font-size: 14px;
    color: var(--tg-theme-text-color);
  }
  
.inner {
    display: grid;
    margin: 10px;
    padding: 10px;
    grid-template-columns: 1fr;
    border: 2px solid var(--tg-theme-button-color);
    border-radius: 10px;
  }
  
.img {
    width: 150px;
  }
  
.item {
    text-align: right;
  }
  
#booking {
    /*display: inline-blok;*/
    padding: 10px 40px;
    background: var(--tg-theme-button-color);
    border: 2px;
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
  
#id_delivery
  [for="id_delivery"] {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background: rgb(71, 71, 71) linear-gradient(rgb(17, 17, 17), rgb(17, 17, 17), rgba(255, 255, 255,.2)) no-repeat 50% 50%;
    background-size: 80px 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.2);
    cursor: pointer;
  }
  [for="id_delivery"]:before {
    content: "";
    position: absolute;
    left: 10px; top: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #ccc linear-gradient(#fcfff4, #dfe5d7 40%, #b3bead);
    transition: .5s;
  }
#id_delivery:checked ~ [for="id_delivery"]:before {
  left: 90px;
  }



#map {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 350px; 
  }

.popup {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: #fff;
    border: 0px solid #000;
    border-radius: 350px; 
    opacity: 0.98;
    z-index: 9000;
    box-shadow: 10px 15px 5px 5px rgb(40, 38, 38);
  }

#bt_close {
  padding: 15px 15px;
  margin-left: 300px;
  background: var(--tg-theme-button-color);
  border: None;
  border-radius: 10px;
  color: var(--tg-theme-button-text-color);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  z-index: 9999;
  box-shadow: 10px 15px 5px 5px rgb(40, 38, 38);
}

.bt_location {
  padding: 5px 5px;
  border: None;
  background: none;
  border-radius: 15px;
  color: var(--tg-theme-button-text-color);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.cord_popup {
  box-shadow: 10px 15px 5px 5px rgb(40, 38, 38);
}